/*styles yay*/
body {
  background-color: #ffffff;
  color: black;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 10vh;
  padding: 0;
  margin-left: 1rem;
  margin-top: 0;
  margin-bottom: 0;
}
h2,h3,h4,h5,h6 {
  text-align: center;
}
p {
  margin-left: 1rem;
  margin-right: 1rem;
}
footer {
  height: 5vh;
  min-height: 24px;
  text-align: center;
}
a {
  font-style: bolder;
  text-decoration: underline;
  color: black;
  transition: all 200ms ease-in-out;
}
a:hover {
  background-color: black;
  color: white;
  transition: all 50ms ease-in-out;
}
.header {
  height: 15vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  text-align: center;
}
.navbar {
  float: left;
  margin-right: 1rem;
  top: 0;
  left: 0;
  max-width: 10vw;
  min-width: 100px;
  font-weight: bolder;
  vertical-align: middle;
  text-align: right;
  border-right: 1vh solid black;
}
.title {
  position: relative;
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 1.2em;
}
.body {
  position: relative;
  overflow-y: auto;
  top: 0;
  left: 0;
  width: 40vw;
  min-width: 320px;
  height: 80vh;
  margin: 0 auto;
  padding: 0;
  padding-left: 1vw;
  /*border-left: 2px solid black;*/
}
.footerbar {
  background: linear-gradient(to right, white, black, white);
  height: 1vh;
  min-height: 1px;
  width: 40vw;
  min-width: 320px;
  margin: 0 auto;
}
